/*************************
           CSS
**************************/
h4{
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: #072160;
    font-family: sans-serif;
    border: solid #072160;
}
main{
    width: 845px;
    height: 1024px;
    margin: auto;
    background-image: url('original.jpg');
    display:grid;
    grid-template-columns: 281px 281px 281px;
    grid-template-rows: 256px 256px 256px 256px;
}

/* Rotation des images */
#img1, #img12, #img11{
  transform:rotate(-90deg);
}

#img9{
  transform:rotate(180deg);
}

#img8{
  transform:rotate(90deg);
}

/* Positionnement */
#img1{
  margin-left:-28px;
  margin-top:28px;
}

#img2{
  margin-left:-75px;
}

#img3{
  margin-left:-9px;
}

#img4{
  margin-top:10px;
}

#img5{
  margin-top:-64px;
  margin-left:7px;
}

#img6{
  margin-top:-58px;
  margin-left:-8px;
}

#img7{
  margin-top:8px;
}

#img8{
  margin-left:-86px;
  margin-top:-22px;
}

#img9{
  margin-left:-85px;
  margin-top:-44px;
}

#img10{
  margin-top:30px;
}

#img11{
  margin-top:-35px;
  margin-left:61px;
}

#img12{
  margin-top:-45px;
  margin-left:-17px;
}
